* {
	margin: 0px;
}

body {
	background: #2e476b;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	background: #ffffff;
	width: 70%;
	height: 60%;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

h1, p, a, img, input, button, form {
	background: #ffffff;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #AEC9EE;
}