* {
	margin: 0px;
}

body {
	background: #2e476b;
}

body>div:first-of-type {
	display:flex;
	justify-content: space-around;
	color: #ffffff;
	height: 100%;
}

body>div:first-of-type>div {
	padding-top: 4%;
	padding-left: 3%;
	width: 78%;
} 

#div_1 {
	display: flex;
	justify-content: space-around;
	margin-right: 5px;
}

#div_1 li ul {
	list-style-type: circle;
}

.cap_img {
	height: 50px;
	width: 50px;
}

#div_otras {
	padding-top: 4%;
	padding-left: 0%;
	width: 22% !important;
	display:flex;
	flex-direction: column;
	align-items: center;
	background: #4f7bb8;
}

#div_otras p, #div_otras a, #div_otras div {
	text-align: justify;
	background: #4f7bb8;
	padding: 5px;
}

#div_otras img {
	border-radius: 15%;
	border: 3px solid #ffffff;
}

video {
	width: 500px;
	border-radius: 2%;
	border: 3px solid #ffffff;
}

img {
	height: 150px;
	width: 103px;
}

details {
	padding-top: 15px;;
}