* {
	margin: 0px;
}

body {
	background: #2e476b;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	background: #ffffff;
	width: 80%;
	height: 50%;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

h1, h2, h3, p, a, form, input, button {
	background: #ffffff;
}

h2 {
	padding-top: 5px;
	padding-left: 5px;
}

h3 {
	padding: 20px;
	width: 90%;
}

form {
	padding: 20px;
}

input {
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #AEC9EE;
}

div>a:last-of-type {
	margin-top: 10px;
}

.div_h {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.div_f {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}